@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<div>
    Password reset link has been sent to your email.
    Please check your mail to reset password:
    <a href="https://mail.google.com/mail/u/o">Click here.</a>
</div>
