@model int

<div class="Container-row pt-4">
    <div class="col-12 text-center">
        <h3>Thank you for ordering</h3> 
        <img src="~/images/3544858.jpg" width="500" height="500"/>
        <hr />
    </div>

    <div class="col-12 text-center">
        <h2>
            Your Order wih ID: (@Model) has been successfully placed.
        </h2>
        <br />
    </div>
</div>