@model Category
@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Create Category";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Add Cateogry</button>
                <a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Back to home</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}

